img {
    display: inline-block;
    border-radius: 8px;
    margin: 5px;
}

body {
    padding-bottom: 75px;
    position: absolute;
    text-align: center;
    width: 99%;
    top: 10%
}

.images {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}